* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding: 0 30px;
}

.hero {
  background: url("../images/mobile/image-hero.jpg") no-repeat center;
  background-size: cover;
  height: 950px;
  color: #fff;
  padding: 60px 0 150px;
}

.hero header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero header nav {
  display: none;
}

.hero header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.hero header nav ul li:not(:last-child) {
  margin-right: 24px;
}

.hero h1 {
  font-family: "Josephin Sans", sans-serif;
  font-weight: 300;
  font-size: 54px;
  padding: 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin: 60% 0 0;
}

.interactive.container {
  margin: 150px auto;
  position: relative;
}

.interactive.container img {
  max-width: 100%;
  display: block;
}

.interactive.container .text {
  background-color: white;
  text-align: center;
}

.interactive.container .text h1 {
  font-family: "Josephin Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  margin: 24px 0;
}

.interactive.container .text p {
  font-size: 20px;
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.our-creations header {
  margin-bottom: 75px;
}

.our-creations header h1 {
  font-family: "Josephin Sans", sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.our-creations header button {
  display: none;
}

.our-creations article {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 30px;
}

.our-creations article:not(:last-child) {
  margin-bottom: 30px;
}

.our-creations article h2 {
  margin: 0;
  text-transform: uppercase;
  width: 65%;
  font-family: "Josephin Sans", sans-serif;
  font-weight: 300;
}

.our-creations article:nth-child(1) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-deep-earth.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-deep-earth.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(2) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-night-arcade.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-night-arcade.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(3) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-soccer-team.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-soccer-team.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(4) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-grid.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-grid.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(5) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-from-above.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-from-above.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(6) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-pocket-borealis.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-pocket-borealis.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(7) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-curiosity.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-curiosity.jpg") no-repeat center;
  background-size: cover;
}

.our-creations article:nth-child(8) {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 0, 0, 0))), url("../images/desktop/image-fisheye.jpg") no-repeat center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0) 100%), url("../images/desktop/image-fisheye.jpg") no-repeat center;
  background-size: cover;
}

.our-creations button {
  border: 2px solid black;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.our-creations button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.our-creations .button-wrapper {
  text-align: center;
}

.our-creations .button-wrapper > button {
  font-size: 24px;
  padding: 10px 30px;
  margin-top: 30px;
}

footer {
  background-color: black;
  margin-top: 150px;
  padding: 40px 0;
  text-align: center;
}

footer nav ul {
  margin-top: 24px;
}

footer ul {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: white;
}

footer .nav-and-logo ul li:not(:first-child) {
  margin-top: 24px;
}

footer .social-and-copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 32px;
}

footer .social-and-copyright ul li:not(:last-child) {
  margin-right: 24px;
}

footer .social-and-copyright p {
  margin: 0;
  font-size: 15px;
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */