h1 {
  color: lightskyblue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 400px;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
}
